.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: auto; /* Cambia height a auto para que se adapte al contenido */
  position: relative;
  background: #FAFAFA;
  border-radius: 10px;
  overflow: hidden;
}

.leftColumn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinea los elementos en el centro para pantallas pequeñas */
  width: 50%; /* Define el ancho para pantallas grandes */
}

.productDetailsContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.rightColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinea los elementos en el centro para pantallas pequeñas */
  padding: 20px;
  width: 50%; /* Define el ancho para pantallas grandes */
  
}

/* Estilos específicos para MainImage y ReviewItem */
.MainImage {
  width: 100%; /* Haz que la imagen ocupe el 100% del contenedor */
  max-width: 100%; /* Evita que la imagen se salga del contenedor */
  height: auto; /* Permite que la altura se ajuste automáticamente */
}

.ReviewItem {
  width: 100%; /* Ajusta el ancho del componente de reseña */
}

/* Media queries para tamaños de pantalla más pequeños */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Cambia a diseño de columna para pantallas pequeñas */
  }

  .leftColumn,
  .rightColumn {
    width: 100%; /* Ocupa el 100% del ancho en pantallas pequeñas */
    align-items: center; /* Alinea al centro en pantallas pequeñas */
  }
}


