.container {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 550px;
    height: 88px;
    
    
    
}

/* Estilos para la imagen */
.image {
    width: 88px;
    height: 88px;
}

/* Estilos para el contenedor de texto */
.text-container {
    width: 446px;
}

/* Estilos para el texto normal */
.text {
    font-weight: 400;
}

/* Estilos para el texto de garantía */
.guarantee {
    font-weight: 700;
}