/* MainImage.module.css */

.container {
  width: 575px; /* Ancho deseado en pantalla grande */
  height: 591px; /* Alto deseado en pantalla grande */
  position: relative;
  border-Radius: 10px;
  overflow: hidden;
  max-width: 100%; /* La imagen no superará el ancho de la pantalla */
  flex-shrink: 0;
}

.image {
  width: 100%; /* La imagen ocupa todo el ancho del contenedor */
  height: auto; /* La altura se ajusta automáticamente para mantener la relación de aspecto */
  object-fit: cover; /* La imagen se ajusta al contenedor manteniendo la relación de aspecto */
  border-radius: 10px;
}

/* Media query para ajustar el tamaño en pantallas más pequeñas */
@media (max-width: 575px) {
  .container {
    width: 100%; /* Cambiar el ancho al 100% en pantallas más pequeñas */
    height: auto; /* Cambiar la altura automáticamente para mantener la relación de aspecto */
  }

  .image {
    width: 100%; /* La imagen ocupa todo el ancho del contenedor */
    height: auto; /* La altura se ajusta automáticamente para mantener la relación de aspecto */
  }
}
