/* Content.module.css */

.containera {
  width: 90%; /* Ancho relativo al 90% del contenedor padre */
  height: auto; /* Altura automática según el contenido */
  position: relative;
  top: 10%; /* Posición relativa al 10% del contenedor padre */
  left: 10%; /* Posición relativa al 10% del contenedor padre */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}


.top {
  color: black;
  font-size: 48px;
  font-family: 'Manrope';
  font-weight: 400;
  text-transform: capitalize;
  line-height: 48px;
  word-wrap: break-word;
}

.bottom {
  color: #4D5254;
  font-size: 24px;
  font-family: 'Manrope';
  font-weight: 400;
  text-transform: capitalize;
  line-height: 24px;
  word-wrap: break-word;
}
