/* Footer.module.css */
.container {
  display: inline-flex;
  padding: 24px 119px 24px 127px;
  justify-content: flex-end;
  align-items: center;
  gap: 592px;
  background: #252F3D;
  margin: 0 auto;
  
  }
  
  .content {
    padding-top: 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .text {
    color: white;
    font-size: 16px;
    font-family: Manrope;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 22.40px;
    word-wrap: break-word;
  }
  
  .iconContainer {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .icon {
    width: 16px;
    height: 16px;
    position: relative;
  }
  
  .iconPart1 {
    width: 12px;
    height: 7.33px;
    left: 1.50px;
    top: 7.33px;
    position: absolute;
    border: 1.33px white solid;
  }
  
  .iconPart2 {
    width: 6.67px;
    height: 6px;
    left: 4.17px;
    top: 1.33px;
    position: absolute;
    border: 1.33px white solid;
  }
  