/* Header.module.css */

.container {
  display: flex;
  width: 1500px;
  height: 96px;
  padding: 30px, 127px, 30px, 127p;
  justify-content: space-between;
  align-items: center;
  background: #FFF;
  top: 50px;
}



.logo {
  width: 192px;
  height: 36px;
  flex-shrink: 0;
}

.logoContainer {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}



.logoone {
  width: 88px;
  height: 32px;
  /* Estilos adicionales si los necesitas */
}

.logotwo {
  width: 82px;
  height: 32px;
  /* Estilos adicionales si los necesitas */
}
