/* Home.module.css */

/* Agrega estilos al contenedor principal de Home */
.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px; /* Añade un espacio entre los componentes */
}

/* Agrega estilos para separar los componentes individualmente */
/* Puedes ajustar estos estilos según tus necesidades */
.header {
  margin-bottom: 50px; /* Espacio inferior entre Header y Content */
}

.content {
  margin-bottom: 40px; /* Espacio inferior entre Content y Steps */
}

.steps {
  margin-bottom: 50px; /* Espacio inferior entre Steps y Detail */
}
