/* CSS anterior */

.box {
  display: flex;
  background-color: black;
  padding: 10px;
  margin: 0 auto; /* Centrar horizontalmente */
  max-width: 1500px;
  flex-wrap: wrap;
  flex-shrink: 0;
  /* Añadir margen vertical según necesites */
}

.primero {
  flex: 1;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 10px;
  max-width: calc(25% - 20px);
  box-sizing: border-box;
  
}

.image img {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

.text {
  color: #FFF;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  text-transform: capitalize;
  margin-top: 0 ;
}

/* Agregar media queries para hacerlo responsivo */
@media (max-width: 768px) {
  .box {
    flex-direction: column; /* Cambiar a disposición de columna para dispositivos móviles */
  }

  .primero {
    max-width: 100%; /* Ocupar todo el ancho para dispositivos móviles */
  }
}
