/* Steps.module.css */

/* Step Indicator Container */
.stepIndicator {
  display: flex;
  width: 100%; /* Hacer que el ancho sea 100% para que sea responsivo */
  max-width: 1245px; /* Establecer un ancho máximo */
  height: 40px; /* Establecer la altura deseada */
  margin: 20px auto; /* Centrar el contenido horizontalmente */
  justify-content: space-between;
  align-items: center;
  overflow-x: auto; 
}

/* Individual Step Container */
.step {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Step Text */
.stepText {
  color: black;
  font-size: 20px;
  font-family: Manrope;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 22px;
  word-wrap: break-word;
}

.logo {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}
